@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap"100,200,300,400,500,600,700');

.header {
  text-align: center;
  font-family: roboto sans-serif;
  font-weight: 100;
  font-size: 49;
  color: #000;
  background-color: white;
  margin-top: 10px;
}
.nav justify-content-center {
  text-align: center;
  font-size: 16;
  text-decoration-color: #000;
  border: 0;
  background-color: white;
}
.nav-ul {
  padding: 8px;
}
a.nav-link {
  font-weight: bold;
}
.contanier-fluid-paragraph {
  font-family: roboto sans-serif;
  font-size: 12;
  color: #000;
  padding-left: 20px;
  padding-left: 20px;
}
.contanier-fluid-gallery {
  text-align: center;
  font-family: roboto sans-serif;
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 10px;
}
